^\w{3} [ :0-9]{11} [._[:alnum:]-]+ dnf: cachedir: .*$
^\w{3} [ :0-9]{11} [._[:alnum:]-]+ dnf: Loaded plugins: .*$
^\w{3} [ :0-9]{11} [._[:alnum:]-]+ dnf: DNF version: .*$
^\w{3} [ :0-9]{11} [._[:alnum:]-]+ dnf: Making cache files for all metadata files.$
^\w{3} [ :0-9]{11} [._[:alnum:]-]+ dnf: Metadata cache refreshed recently.$
^\w{3} [ :0-9]{11} [._[:alnum:]-]+ dnf: .*: will expire after [[:alnum:]]+ seconds.$
^\w{3} [ :0-9]{11} [._[:alnum:]-]+ dnf: updates: metadata will expire after [[:alnum:]]+ seconds and will be refreshed now$
^\w{3} [ :0-9]{11} [._[:alnum:]-]+ dnf: repo: using cache for: .*$
^\w{3} [ :0-9]{11} [._[:alnum:]-]+ dnf: not found (delta|update)info for: .*$
^\w{3} [ :0-9]{11} [._[:alnum:]-]+ dnf: reviving: 'updates' can be revived.$
^\w{3} [ :0-9]{11} [._[:alnum:]-]+ dnf: Metadata cache created.$
