^\w{3} [ :0-9]{11} [._[:alnum:]-]+ systemd: Start(ing|ed) Session [[:alnum:].:]+ of user (logcheck|root).$
^\w{3} [ :0-9]{11} [._[:alnum:]-]+ systemd: Start(ing|ed) Cleanup of Temporary Directories(\.)+$
